<ion-view title="Status" id="page9">
  <ion-content padding="true" class="has-header">
    <ion-list id="status-list10">
      <ion-item class="item-divider" id="status-list-item-divider19"> Your upcoming Tutor Session</ion-item>
      <div class="item item-body" id="status-list-item-container9">
        <div id="status-markdown21" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Tutor: {{tutor.name}}
            <br>Time:{{Tutor.time}}
            <br>Place:MAC by defaul
            <br>Subject: {{tutor.subject}}</p>
        </div>
      </div>
    </ion-list>
    <ion-list id="status-list15">
      <ion-item class="item-divider" id="status-list-item-divider26"> Your Previous Tutor Session</ion-item>
      <div class="item item-body" id="status-list-item-container14">
        <div id="status-markdown27" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Tutor: {{tutor.name}}
            <br>Time:{{Tutor.time}}
            <br>Place:MAC by defaul
            <br>Subject: {{tutor.subject}}</p>
        </div>
      </div>
    </ion-list>
    <ion-list id="status-list11">
      <ion-item class="item-divider" id="status-list-item-divider20"> Tutor Requests</ion-item>
      <div class="item item-body" id="status-list-item-container13">
        <div id="status-markdown26" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Student:{{student.name}}
            <br>Time:{{Tutor.time}}
            <br>Place:MAC by default
            <br>Subject : {{student.subject}}</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>